<!DOCTYPE html>
<html>

<head>

    <title> BeeZen Meetup</title>
    <script src="src/libs/angular/angular.js"></script>
    <link href="src/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="src/libs/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">

</head>

<body ng-app>

<div ng-include="'src/view/nav.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Liste tache
                      </span>
                <input type="text" class="form-control" placeholder="Ajouter une tache ..." ng-model="tasks" ng-list>
            </div>
        </div>

        <div class="col-lg-6">
            <ul class="nav nav-pills nav-stacked">
                <li class="alert alert-success" style="margin-bottom: 5px;height: 40px;padding-top: 7px;"
                    ng-repeat="task in tasks">{{task}}
                </li>
            </ul>

        </div>
    </div>

</div>
</body>

</html>