<div class="row">
    <div class="page-header">
        <h2>Ajouter une nouvelle tâche</h2>
    </div>
</div>
<div class="jumbotron">
    <form  name="myForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-sm-5" style="padding-left: 2px; text-align: left;">
                        Titre tâche:</label>

                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="newTask.titre" name="newTask.titre" required>
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-sm-5" style="padding-left: 2px; text-align: left;">DATE
                        LIMITE:</label>

                    <div class="col-sm-7">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="newTask.date"
                                   is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                                   init-date="{{dateinit}}"
                                   close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span></p>
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-lg-offset-5">
                <button class="btn btn-success" ng-click="addTask()" ng-disabled="myForm.newTask.titre.$invalid"> Valider</button>
            </div>

        </div>
    </form>
</div>

