<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">{{titleTask}}
                      </span>
                <input type="text" class="form-control" placeholder="Ajouter une tache ..." ng-model="newTask">
                 <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addTask()"><span class="glyphicon glyphicon-plus"></span></button></span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="task in listTasks">
                    <span class="badge" ><span class="glyphicon glyphicon-trash" ng-click="deleteTask($index)"></span></span>
                    <span class="badge">{{$index}}</span>
                    {{task}}
                </li>
            </ul>

        </div>
    </div>
</div>


</div>
